.banner-wrapper {
  min-height: 282px;
}

.banner-wrapper__background {
  box-sizing: border-box;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 122px;
  background-image: url("../img/hero-mobile.jpg");
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .banner-wrapper {
    min-width: 768px;
    height: 565px;
  }

  .banner-wrapper__background {
    background-image: url("../img/hero-desktop.jpg");
  }
}
