.catalog-links__item {
  display: block;
  min-height: 103px;
  padding-top: 25px;
  padding-left: 30px;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;

  &--light {
    background-color: #63d1bb;
  }

  &--dark {
    background-color: #56c3b2;
  }
}

.catalog-links__title {
  width: 105px;
  margin: 0;
  line-height: 24px;
}

@media (min-width: 768px) {
  .catalog-links {
    display: flex;
    padding: 0 50px;
    background-color: #f9f9f9;
  }

  .catalog-links__item {
    width: 50%;
  }
}
