.catalog-wrapper {
  padding: 30px;
  outline: $outline;
}

@media (min-width: $tablet-width) {
  .catalog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
  }
}
