.comments {
  outline: $outline;
  padding: 30px;
  font-size: 0;
}

.comments__title {
  margin: 0;
  font-size: 25px;
}

.comments__switch-button {
  width: 50%;
  padding: 10px 0;
  background-color: #ffffff;
  border: 1px solid #ececec;
  cursor: pointer;
}

.comments__feedback-btn {
  @mixin btn;
  margin-top: 38px;
}
