.comment__text {
  line-height: 30px;
  font-size: $basic-fontsize;
  color: $basic-color;
}

.comment__name {
  font-size: $comment-name-fontsize;
  font-weight: 700;
}

.comment__link {
  display: block;
  margin-bottom: 30px;
  font-size: $basic-fontsize;
  line-height: 30px;
  color: $basic-color;
}
