.contacts {
  padding: 35px 0;
  outline: $outline;
}

.contacts__title {
  padding: 30px;
  font-size: $contacts-title-fontsize;
  font-weight: 700;
}

.contacts__list {
  margin: 30px 0;
  padding: 0;
  padding: 0 30px;
  list-style: none;
  color: $basic-color;
}

.contacts__list-link {
  padding-bottom: 2px;
  border-bottom: 1px solid #62d1ba;
  color: $basic-color;
  text-decoration: none;
}

.contacts__list-item-text {
  width: 140px;
}

.contacts__map {
  height: 457px;
  background-image: url("../../img/map-mobile@1x.jpg");
}

.contacts__feedback-btn {
  @mixin btn;
  margin: 0 38px;
  margin-top: 38px;
  border: $btn-border;
  color: $basic-color;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-direction: column;
  }

  .contacts__title {
    font-size: $contacts-title-tablet-fontsize;
  }

  .contacts__list {
    display: flex;
    justify-content: space-between;
    font-size: $contacts-list-tablet-fontsize;
  }

  .contacts__list-item--address {
    font-size: 0;
  }

  .contacts__list-item-name--address {
    display: inline-block;
    vertical-align: top;
    font-size: $contacts-list-tablet-fontsize;
  }

  .contacts__list-item-text {
    display: inline-block;
    width: auto;
    vertical-align: top;
    font-size: $contacts-list-tablet-fontsize;
  }

  .contacts__map {
    background-image: url("../../img/map-tablet.jpg");
  }

  .contacts__feedback-btn {
    width: 230px;
    margin: 0 auto;
    margin-top: 55px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    min-height: 620px;
  }

  .contacts__list {
    flex-direction: column;
    order: 1;
  }

  .contacts__map {
    position: absolute;
    order: 3;
    align-self: flex-end;
    width: 450px;
  }

  .contacts__feedback-btn {
    order: 2;
    margin: 0;
  }
}
