.developer-contact {
  padding-top: 20px;
}

.developer-contact__text {
  font-weight: 700;
  font-size: $developer-contact-fontsize;
  font-style: normal;
}

@media (min-width: 768px) {
  .developer-contact {
    padding: 0;
  }
}
