.modal-window {
  position: absolute;
  display: none;
  padding: 40px 30px;
  width: 320px;
  height: 335px;
  background-color: #ffffff;
  border-top: 1px solid #c7c7c7;
  box-sizing: border-box;
  outline: $outline;
}
