.order-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-family: $bold;
}

.order-form__legend {
  color: #63d1bb;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.order-form__label {
  width: 160px;
  display: inline-block;
  margin-bottom: 40px;
}

.order-form__radiobutton {
  display: inline-block;
  margin-right: 35px;
}

.order-form__checkbox {
  display: inline-block;
  margin-right: 35px;
}

.order-form__personal-input::-webkit-input-placeholder,
.order-form__phone-input::-webkit-input-placeholder,
.order-form__email-input::-webkit-input-placeholder,
.order-form__message-textarea::-webkit-input-placeholder {
  color: $grey;
}

.order-form__personal-input:-moz-placeholder,
.order-form__phone-input:-moz-placeholder,
.order-form__email-input:-moz-placeholder,
.order-form__message-textarea:-moz-placeholder {
  color: $grey;
}

.order-form__personal-input,
.order-form__phone-input,
.order-form__email-input {
  border: none;
  border-bottom: $btn-border;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
  font-family: $normal;
}

.order-form__message-textarea {
  height: 140px;
  width: 100%;
  border: $btn-border;
  box-sizing: border-box;
  padding: 15px;
  resize: none;
  font-family: $normal;
  margin-bottom: 15px;
}

.order-form__required-warning {
  font-size: 13.5px;
}

.order-form__submit {
  @mixin btn;
  width: 100%;
  background-color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}
