.page-header {
  padding: 20px 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ececec;
  outline: $outline;
}

.page-header__logo {
  width: 86px;
  height: 35px;
  margin: 0 auto;
}

.page-header__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    min-width: 768px;
  }

  .page-header__logo {
    align-self: center;
    order: 1;
    width: 113px;
    height: 46px;
    margin: 0;
    padding-left: 50px;
  }

  .page-header__text {
    order: 4;
    display: block;
    width: 50%;
    line-height: 83px;
    background-color: $page-header__text-background;
    border-top: 1px solid #ececec;
    color: $page-header__text-color;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 100%;
    min-width: 1150px;
  }

  .page-header__logo {
    order: 2;
  }

  .page-header__text {
    order: 5;
  }
}
