.page-title {
  width: 245px;
  margin: 0 auto;
  font-weight: 700;
  font-size: $page-title-fontsize;
  text-align: center;
  line-height: 30px;

  &--catalog,
  &--form {
    padding-top: 71px;
    padding-bottom: 71px;
    width: auto;
    background-color: #f1f1f1;
  }
}
