.page-title {
  width: 250px;
  margin: 0 auto;
  font-weight: 700;
  font-size: $page-title-fontsize;
  text-align: center;
  line-height: 30px;

  &--catalog,
  &--form {
    width: auto;
    padding-top: 71px;
    padding-bottom: 71px;
    background-color: #f1f1f1;
  }
}

@media (min-width: $tablet-width) {
  .page-title {
    width: 510px;
    padding-top: 65px;
    font-size: $page-title-tabl-fontsize;
    line-height: 50px;

    &--catalog,
    &--form {
      width: auto;
    }
  }
}
