.page-header {
  outline: $outline;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  width: 86px;
  height: 35px;
  margin: 0 auto;
}
