.week-product {
  padding: 30px;
  outline: $outline;
}

.week-product__title {
  margin: 0;
  font-size: $week-product-title-fontsize;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
}

.week-product__category-title {
  font-size: $week-product-category-title-fontsize;
  text-align: left;
  font-weight: 700;
  color: #63d1bb;
}

.week-product__description {
  color: $basic-color;
}

.week-product__options-table {
  width: 100%;
  margin-bottom: 28px;
  color: $basic-color;
  border-collapse: collapse;
}

.week-product__options-table__cell {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.week-product__item-price {
  display: block;
  font-size: $week-product-price-fontsize;
  font-weight: 700;
  text-align: center;
  color: $basic-color;
}

.week-product__order {
  @mixin btn;
  margin-top: 25px;
  border: $btn-border;
  color: $basic-color;
}
