.week-product {
  padding: 30px;
  outline: $outline;
}

.week-product__title {
  margin: 0;
  font-size: $week-product-title-fontsize;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
}

.week-product__category-title {
  font-size: $week-product-category-title-fontsize;
  text-align: left;
  font-weight: 700;
  color: #63d1bb;
}

.week-product__description {
  color: $basic-color;
}

.week-product__options-table {
  width: 100%;
  margin-bottom: 28px;
  color: $basic-color;
  border-collapse: collapse;
}

.week-product__options-table__cell {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.week-product__img {
  display: block;
  margin: 0 auto;
}

.week-product__item-price {
  display: block;
  font-size: $week-product-price-fontsize;
  font-weight: 700;
  text-align: center;
  color: $basic-color;
}

.week-product__order {
  @mixin btn;
  margin-top: 25px;
  border: $btn-border;
  color: $basic-color;
}

@media (min-width: $tablet-width) {
  .week-product {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    min-height: 580px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
  }

  .week-product__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 630px;
    margin-bottom: 60px;
  }

  .week-product__title {
    order: 1;
    font-size: $week-product-title-tablet-fontsize;
  }

  .week-product__category-title {
    order: 2;
    width: 70px;
    text-align: center;
    line-height: 16px;
  }

  .week-product__description {
    order: 3;
    align-self: flex-start;
    width: 285px;
    margin-bottom: 30px;
    font-size: $week-product-description-desktop-fontsize;
    line-height: 30px;
  }

  .week-product__img {
    position: absolute;
    right: 45px;
    bottom: 50px;
    z-index: -1;
    order: 4;
    width: 333px;
    height: 404px;
  }

  .week-product__options-table {
    order: 5;
    width: 290px;
    margin-bottom: 45px;
  }

  .week-product__item-price {
    order: 6;
    width: 290px;
    text-align: center;
  }

  .week-product__order {
    order: 7;
    box-sizing: border-box;
    width: 290px;
  }
}

@media (min-width: $desktop-width) {
  .week-product {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1050px;
    min-height: 755px;
    padding-top: 125px;
  }

  .week-product__title-wrapper {
    width: 650px;
  }

  .week-product__title {
    order: 2;
    align-self: center;
    font-size: $week-product-title-desktop-fontsize;
    line-height: 57px;
  }

  .week-product__category-title {
    order: 1;
  }

  .week-product__description {
    margin-left: 125px;
    margin-bottom: 50px;
  }

  .week-product__options-table {
    margin-left: 125px;
    margin-bottom: 100px;
  }

  .week-product__item-price {
    margin-left: 125px;
  }

  .week-product__order {
    margin-left: 125px;
  }

  .week-product__img {
    position: absolute;
    right: 0;
    width: 525px;
    height: 636px;
  }

  .week-product__order {
    width: 290px;
  }
}
