@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff"),
       url("../fonts/opensans.woff2");
}

@font-face {
  font-family: "opensansbold";
  src: url("../fonts/opensansbold.woff"),
       url("../fonts/opensansbold.woff2");
}

body {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  font-size: $basic-fontsize;
  font-family: $normal;
}

img {
  max-width: 100%;
  height: auto;
}
