@define-mixin btn {
  border: $btn-border;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $grey;
  font-family: $bold;
  display: block;
  padding: 10px 0;
  text-align: center;
}
